.slide-in-left {
    animation-name: slide-in-left;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

.slide-in-right {
    animation-name: slide-in-right;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

.opacity-hide-show {
    animation-name: opacity-hide-show;
    animation-duration: calc(0.6s);
    animation-timing-function: linear;
}


@keyframes slide-in-left {
    from {
        transform: translateX(-1000px);
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
        -o-transform: translateX(-1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
}
}

@keyframes slide-in-right {
    from {
        transform: translateX(1000px);
        -webkit-transform: translateX(1000px);
        -moz-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
        -o-transform: translateX(1000px);
        opacity: 0;
}
    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
}
}


@keyframes opacity-hide-show {
    from {
        opacity: 0;
}
    to {
        opacity: 1;
}
}